body {
  background-color: #000;
  color: #0f0;
  font-family: monospace;
}

.estado-seguro {
  color: lime;
  animation: parpadeo 1s infinite alternate;
}

@keyframes parpadeo {
  from { opacity: 0.5; }
  to { opacity: 1; }
}
